<div class="navbar">
  <!--class="active"-->
 <a [routerLink] = "['home']" routerLinkActive="active">Home</a>
 <a [routerLink] = "['heroes']" routerLinkActive="active">Heroes</a>
 <a [routerLink] = "['about']" routerLinkActive="active">About</a>
 
 <div class="search-container">
   <input type="text" placeholder="buscar..." id="search" #buscarTexto (keyup.enter)="buscarHeroe(buscarTexto.value)">
   
   <button type="button" (click)="buscarHeroe(buscarTexto.value)">Buscar</button>
 </div>
</div>
