.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*El contenido es recortado y no se muestran las barras de posicion*/
  overflow: hidden;
  background-color: #333;
}

.navbar li{
  /*El elemento debe flojar a la parte izquierda*/
  float: left;
}

.navbar li a{
  /*Se muestra como un tipo de bloque*/
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  /*Quita el subrayado de las enlaces*/
  text-decoration: none;
}

.navbar li a:hover{
 background-color: #111;
}